.THIS .contentPanel:before,
.THIS .contentPanel:after 
{
    content: " ";
    display: table;
}

.THIS .contentPanel:after 
{
    clear: both;
}

.THIS .breadcrumbRow,
.THIS .contentRow
{   
    max-width: 1230px;
    margin: auto;
    font-family: 'DIN Next W01 Regular',Helvetica,Arial,"Lucida Grande",sans-serif;
}

.THIS .left
{
    float: left;
    width: 70%;
    margin-right: 25px;
    margin-bottom: 30px;
}

.THIS .right
{
    float: right;
    width: 27%;
    margin-bottom: 30px;
}

.THIS h1.headlineTitle
{
    text-align: left;
    padding-top: 0;
}

.THIS h1.headlineTitle span.headlineTitleText
{
    font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 26px;
    font-weight: 300;
}

.THIS div.uiTabBar ul li
{
    text-transform: lowercase;
    display: inline-block;
}

.THIS div.uiTabBar ul li.tabs__item.active.uiTabItem a.tabHeader span.title
{
    font-weight: 300;    
}

.THIS div.uiTabBar ul li a.tabHeader
{
    text-transform: capitalize;
    padding: 1.5rem 0rem 0.5rem;
}

.THIS .uiTabset--default .tabs__item.active > a
{
    border-bottom: 6px solid rgb(211, 48, 57);
}

.THIS .selfServiceArticleHeaderDetail .article-head
{
    font-weight: normal;
}

.THIS .askCommunityBtn,
.THIS span.forceCommunityFollow button span
{
    text-transform: uppercase;
    background-color: #D33039!important;
    font-size: 16px;
}

.THIS a.item-title-link span.item-title.uiOutputText
{
    font-size: 14px;
    word-break: break-word;
}

.THIS ul li.article-item
{
    cursor: pointer;
}

.THIS ul li.article-item a.article-link:after
{
    font-family: "icomoon";
    content: "\e914";
    font-size: 1.5rem;
    color: #313136;
    position: absolute;
    right: 0rem;
    margin-top: -36px;
}

.THIS .forceCommunityResultsList .article-list .footer
{
    font-size: 14px;
}

.THIS .forceCommunityFollow .button 
{
    color: #ffffff!important;
    background-color: rgb(211, 48, 57)!important; 
}

/* Article Details Styles Start */

.THIS div.article-column
{
    padding: 0;
}

.THIS h1.article-head
{
    font-weight: normal;
    font-size: 26px;
}

.THIS article.content div.slds-grid.slds-gutters_small:nth-child(1),
.THIS article.content div.slds-grid.slds-gutters_small:nth-child(2)
{
    display: none;
}

.THIS article.content div.slds-form-element,
.THIS article.content div.test-id__field-label-container
{
    padding-bottom: 15px;
    border: none;
}

.THIS article.content div.itemBody
{
    font-size: 14px;
}

.THIS article.summary div.meta
{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px #313136;
    font-size: 14px;
}

.THIS .selfServiceArticleTopicList.slds-pill_container--bare
{
    padding-left: 0;
}
.THIS .selfServiceArticleTopicList .slds-pill
{
    border-radius: 0;
    background-color: #313136;
    border: none;
}

.THIS .selfServiceArticleTopicList .slds-pill a
{
    color: #fff;
}

.THIS article.summary .view-count,
.THIS article.summary .article-type,
.THIS article.summary .date
{
    margin-right: 20px;
}

.THIS article.summary div.meta.selfServiceArticleHeaderDetail span.article-type,
.THIS article.summary .dot
{
    display: none;
}

.THIS .slds-card.forceKnowledgeArticleThumbVote
{
    border-radius: 0;
    border: none;
    background-color: #eeeeee;
    padding: 15px;
    font-size: 14px;
}

.THIS .slds-card.forceKnowledgeArticleThumbVote button
{
    border-radius: 50%;
    background-color: rgb(211, 48, 57);
    border-color: rgb(211, 48, 57);
}

.THIS .slds-card.forceKnowledgeArticleThumbVote button svg
{
    fill: #fff;
}

.THIS .selfServiceBaseSimpleItems h2
{
    font-weight: 300;
}

.THIS button.loadmore:before
{
    font-family: "icomoon";
    content: "\e915";
    font-size: 16px;
    margin-right: 10px;
}

.THIS button.loadmore
{
    text-transform: uppercase;
    margin-top: 30px;
}

.THIS .forceCommunityRelatedTopics .topicListHeader 
{
    font-weight: 300;        
}

/* Article Details Styles End */

/* Question Detail starts */

.THIS .forceCommunityFeedItemDetail,
.THIS .selfServiceTopicTrendingArticles
{
    margin-top: 30px;
}

.THIS .forceCommunityFeedItemDetail .forceChatterFeedItemHeader .cuf-preamble,
.THIS .forceCommunityFeedItemDetail .forceChatterFeedItem .cuf-feedItem footer ul li,
.THIS .forceCommunityFeedItemDetail .bottomBar button,
.THIS .forceCommunityFeedItemDetail .forceChatterFeedback ul li article .slds-media__body
{
    font-size: 16px;
}

.THIS .forceCommunityFeedItemDetail .cuf-feedElement .cuf-questionTitle
{
    font-size: 24px;
    font-weight: normal;
}

.THIS .forceCommunityFeedItemDetail .topic-topicContainer ul.topic-commaSeparatedList li a
{
    border-radius: 0;
    background: #313136;
    color: #fff;
    border: none;
}

.THIS .forceCommunityFeedItemDetail .forceChatterFeedback .commentInputArea lightning-avatar,
.THIS .forceCommunityFeedItemDetail .cuf-feedItemHeader button
{
    display: none;
}

.THIS .forceCommunityFeedItemDetail .forceChatterFeedback .commentInputArea .form-block-section .slds-rich-text-editor
{
    border-radius: 0;
    font-size: 16px;
}

@media only screen and (max-width: 1260px)
{
    .THIS .contentRow,
    .THIS .breadcrumbRow
    {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* Question Detail ends */

@media only screen and (max-width: 1024px)
{
    .THIS .breadcrumbRow,
    .THIS .contentRow
    {
        padding-left: 17px;
        padding-right: 18px;
        width: 100%;        
        margin: auto;
        font-family: 'DIN Next W01 Regular',Helvetica,Arial,"Lucida Grande",sans-serif;
    }
}

/* all devices smaller than ipad */
@media only screen and (max-width: 768px)
{
    .THIS .right,
    .THIS .left
    {
        float: none;
        margin: auto;
        width: 100%;
    }
    
    .THIS a.tabHeader span.title
    {
        text-transform: capitalize;
    }    
    
    .THIS h3.article-head
    {
        color: #313136;
        font-size: 16px;
        font-family: "DIN Next W01 Bold",Helvetica,Arial,"Lucida Grande",sans-serif;   
        width: 90%;
    }
    
    .THIS ul li.article-item a.article-link:after
    {
        font-size: 2.5rem;
        color: #999;
    }
    
    .THIS button.loadmore
    {
        width: 100%;
        margin-top: 30px;
        background-color: #999999;
        border-color: #999999;
    }
    
    .THIS button.loadmore:before
    {
        font-family: "icomoon";
        content: "\e915";
        font-size: 25px;
        margin-right: 10px;
         margin-top: 11px;
        min-height: 34px;
    }
    
    .THIS div.article-list
    {
        padding-bottom: 30px;
        border-bottom: 2px solid;
    }
    
    .THIS .selfServiceTopicTrendingArticles h2,
    .THIS .selfServiceBaseSimpleItems h2,
    .THIS .forceCommunityRelatedTopics .topicListHeader 
    {        
        font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-size: 24px!important;
        margin-top: 20px;
        font-weight: 300!important;
    }
    
    .THIS .forceCommunityRelatedTopics .topicListHeader span:nth-child(2)
    {
        display: none;
    }
    
    .THIS .selfServiceTopicTrendingArticles ul li a:after
    {
        font-family: "icomoon";
        content: "\e914";
        font-size: 1.5rem;
        color: #999;
        position:absolute;
        right: 0rem;
        margin-top: -18px;
    }
    
    .THIS .forceCommunityRelatedTopics ul li a.topicItemLink.forceTopicTopicLink span span
    {
        width: auto;
        color: #68686C;
    }
    
    .THIS .forceCommunityRelatedTopics ul li a.topicItemLink.forceTopicTopicLink span span:nth-child(1) span.uiOutputText
    {
        text-transform: lowercase;
        display: inline-block;
    }
    
    .THIS .forceCommunityRelatedTopics ul li a.topicItemLink.forceTopicTopicLink span span:nth-child(1) span.uiOutputText:first-letter
    {
        text-transform: uppercase;
    }
    
    .THIS .forceCommunityRelatedTopics ul li a.topicItemLink.forceTopicTopicLink span span:nth-child(2)
    {
        margin-left: 10px;
        
    }
    
    .THIS .forceCommunityRelatedTopics ul li a.topicItemLink.forceTopicTopicLink span span:nth-child(2):before,
    .THIS .forceCommunityRelatedTopics ul li a.topicItemLink.forceTopicTopicLink span span:nth-child(2):after
    {        
        color: #999;
    }
    
    .THIS .forceCommunityRelatedTopics ul li a.topicItemLink.forceTopicTopicLink span span:nth-child(2):before
    {
        content: "(";
    }
    
    .THIS .forceCommunityRelatedTopics ul li a.topicItemLink.forceTopicTopicLink span span:nth-child(2):after
    {
        content: ")";
    }
    
    .THIS .forceCommunityRelatedTopics ul li a.topicItemLink.forceTopicTopicLink span.slds-grid.slds-wrap:after
    {
        font-family: "icomoon";
        content: "\e914";
        font-size: 25px;
        color: #999;
        position: absolute;
        right: 0rem;
        margin-top: -5px;
    }
    
    .THIS  h1.article-head 
    {
        font-weight: normal;
        font-size: 21px;
        font-family: 'DIN Next W01 Medium',Helvetica,Arial,"Lucida Grande",sans-serif;
    }
    
    .THIS article.summary div.meta.selfServiceArticleHeaderDetail span.date span
    {
        font-size: 14px;
    }
    
    .THIS article.content span.test-id__field-label
    {
        font-size: 19px;
    }
    
    .THIS article.content div.slds-rich-text-editor__output.uiOutputRichText.forceOutputRichText
    {
        font-size: 15px;
    }
    
    .THIS .selfServiceArticleLayout span.slds-pill a span span span.uiOutputText
    {
        font-size: 16px;
        text-transform: lowercase;
        display: inline-block;
    }
    
    .THIS .selfServiceArticleLayout span.slds-pill a span span span.uiOutputText:first-letter
    {
        text-transform: capitalize;
    }
 
    .THIS .slds-card.forceKnowledgeArticleThumbVote div.slds-box--x-small
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .THIS .slds-card.forceKnowledgeArticleThumbVote > div div:nth-child(1)
    {
        order: 1;
        margin-bottom: 10px;
        font-size: 16px;
    }
    
    .THIS .slds-card.forceKnowledgeArticleThumbVote > div div:nth-child(2)
    {
        order: 2;
        margin: auto;
    }
    
    .THIS #upVoteCount
    {
        padding-right: 10px;
    }
    
    .THIS #downVoteButton
    {
        padding-left: 10px;
    }
}