<template>
    <template if:true={loading}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <div class="slds-page-header slds-page-header_record-home">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:article" alternative-text="Subject"></lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span>Subject Offering</span>
                                    <span class="slds-page-header__title slds-truncate" title={subjectOffering.SubjectName}>{offering.SubjectName}</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__col-actions">
                <div class="slds-page-header__control">
                    <ul class="slds-button-group-list">
                        <li>
                            <template if:false={editMode}>
                                <lightning-button title="Edit" label="Edit" class="slds-p-around_small" onclick={handleEditButtonClick}></lightning-button>
                            </template>
                            <template if:true={editMode}>
                                <lightning-button title="Save" label="Save" class="slds-p-around_small" onclick={handleSaveButtonClick}></lightning-button>
                                <lightning-button title="Cancel" label="Cancel" class="slds-p-around_small" onclick={handleCancelButtonClick}></lightning-button>
                            </template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="slds-page-header__row slds-page-header__row_gutters">
            <div class="slds-page-header__col-details">
                <ul class="slds-page-header__detail-row">
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title" title="Subject Code">Subject Code</div>
                        <div title={subjectOffering.SubjectCode}>{offering.SubjectCode}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title " title="Start Date">Stard Date</div>
                        <div title={subjectOffering.StartDate}>{offering.StartDate}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title " title="End Date">End Date</div>
                        <div title={subjectOffering.EndDate}>{offering.EndDate}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title " title="Actual Students">Actual Students</div>
                        <div title={subjectOffering.ActualStudents}>{offering.ActualStudents}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title " title="Projected Students">Projected Students</div>
                        <div title={subjectOffering.ProjectedStudents}>{offering.ProjectedStudents}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title " title="Capacity">Capacity</div>
                        <div title={subjectOffering.Capacity}>{offering.Capacity}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title " title="Projected Capacity">Projected Capacity</div>
                        <div title={subjectOffering.ProjectedCapacity}>{offering.ProjectedCapacity}</div>
                    </li>
                    <li class="slds-page-header__detail-block">
                        <div class="slds-text-title" title="Health Status">Health Status</div>
                        <div title={subjectOffering.HealthStatus}>{offering.HealthStatus}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <lightning-card>
        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-4 slds-p-around_small">
                <div class="slds-text-title_caps">Role</div>
            </div>
            <div class="slds-col slds-size_1-of-4 slds-p-around_small">
                <div class="slds-text-title_caps">Staff Member</div>
            </div>
            <div class="slds-col slds-size_1-of-6 slds-p-around_small">
                <div class="slds-text-title_caps">Students</div>
            </div>
            <div class="slds-col slds-size_1-of-4 slds-p-around_small">
                <div class="slds-text-title_caps">Status</div>
            </div>
            <div class="slds-col slds-size_1-of-12 slds-p-around_small"></div>
        </div>
        <template for:each={subjectEnrolments} for:item="subjectEnrolment" for:index="index">
            <c-terms-staff-plan-subject-enrolment-details key={subjectEnrolment.SubjectEnrolmentId} subject-enrolment={subjectEnrolment}
                edit-mode={editMode} options={options} faculties={subjectOfferingFaculties} index={index} ondataupdated={handleDataUpdate}
                role-student-capacities={subjectOffering.RoleStudentCapacities} selected-faculties={selectedFaculties}>
            </c-terms-staff-plan-subject-enrolment-details>
        </template>
        <div class="slds-grid slds-grid_align-end">
            <template if:true={editMode}>
                <div class="slds-col slds-size_1-of-12 slds-p-vertical_small">
                    <lightning-button title="Add" label="Add" class="slds-p-around_small" onclick={handleAddButtonClick}></lightning-button>
                </div>
            </template>
        </div>
    </lightning-card>
</template>