.slds-page-header__detail-row
{
    flex-wrap: wrap;
    background: rgb(243, 242, 242);
    border-top-color: rgb(243, 242, 242);
    border-top-style: groove;
    border-top-width: 4px;
}

.slds-page-header__row_gutters
{
    width: 100%;
    margin-left: 0;
}

.slds-page-header__detail-block
{
    padding-right: 5%;
    padding-left: 0;
    max-width: 12.5%;
    min-width: 100px;
    width: 100%;
}

.slds-page-header__detail-block:first-child
{
    padding-left: 0;
    padding-bottom: 1rem;
}

.slds-page-header__detail-block:last-child
{
    padding-right: 0;
}