<template>
    <div class="slds-file-selector__dropzone" if:false={showData}>
        <lightning-button label="Add Subjects" onclick={handleShowData} class=""></lightning-button>
    </div>

    <lightning-card if:true={showData} class="slds-card-no-header">
        <div>
            <lightning-datatable
                    key-field="Id"
                    data={data}
                    show-row-number-column={showRowNumber}
                    columns={columns}
                    selected-rows={selectingRows}
                    onrowselection={handleSelectRows}>
            </lightning-datatable>
        </div>

        <div class="slds-p-top_medium slds-p-right_medium slds-p-bottom_x-small slds-text-align_right">
            <lightning-button label="Cancel" onclick={handleCancel}></lightning-button>
        </div>

        <template if:true={displaySpinner}>
            <lightning-spinner alternative-text="Loading"></lightning-spinner>
        </template>
    </lightning-card>
</template>