.title-banner.THIS
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    min-height: 240px;
    max-width: 2440px;
    margin: 0 auto;
    background-color: #D33039;
    background-size: cover;
    background-position: 50% 50%;    
    margin-top: -0.75rem;
}

.title-banner.THIS:before
{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,.6) 0, rgba(0,0,0,.3) 75%);
}

.title-banner.THIS h1 
{
    margin: 5px auto 0;
    color: #fff;
    position: relative;
    width: 1230px;
    padding: 0 15px;
    max-width: 100%;
    font-size: 4rem;
    line-height: 1.2;
}

/* ipad Pro */
@media only screen and (max-width: 1024px)
{
    .title-banner.THIS
    {
        margin-top: 16px;    
    }
}

/* ipad */
@media only screen and (max-width: 768px)
{
    .title-banner.THIS h1 
    {
        font-size: 30px;
    }
    
    .title-banner.THIS
    {
        min-height: 153px;
    }
    
    .title-banner.THIS
    {
        margin-top: 0px;    
    }
}