.field
{
    display: inline-block;
}

.field div,
.field lightning-input,
.field lightning-combobox
{
    display: inline-block;
}

.field lightning-input
{
    margin-right: 5px;
}

.half
{
    max-width: 50%;
    display: inline-block;
}

.icon
{
    padding-left: 10px;
}