<template>
    <div class="slds-grid">
        <template if:false={editMode}>
            <template if:false={subjectEnrolment.IsDeleted}>
                <div class="slds-col slds-size_1-of-4 slds-p-around_small field">
                    <div title={subjectEnrolment.RoleName}>{subjectEnrolment.RoleName}</div>
                </div>
                <div class="slds-col slds-size_1-of-4 slds-p-around_small field">
                    <div title={subjectEnrolment.StaffName}>{subjectEnrolment.StaffName}</div>
                    <template if:true={showPrerequisitesWarning}>
                        <lightning-icon class="icon" icon-name="utility:block_visitor" alternative-text="" size="x-small" variant="error"></lightning-icon>
                    </template>
                </div>
                <div class="slds-col slds-size_1-of-6 slds-p-around_small field">
                    <div title="">{subjectEnrolment.AllocatedStudents} / {maxCapacity}</div>
                    <template if:true={showOverflowWarning}>
                        <lightning-icon class="icon" icon-name="utility:warning" alternative-text="" size="x-small" variant="error"></lightning-icon>
                    </template>
                </div>
                <div class="slds-col slds-size_1-of-4 slds-p-around_small field">
                    <div title={subjectEnrolment.Status}>{subjectEnrolment.Status}</div>
                </div>
                <div class="slds-col slds-size_1-of-12 slds-p-around_small field"></div>
            </template>
        </template>
        <template if:true={editMode}>
            <template if:false={subjectEnrolment.IsDeleted}>
                <template if:true={editMode}>
                    <div class="slds-col slds-size_1-of-4 slds-p-around_small field">
                        <lightning-combobox name="RoleName" label="Role Name" value='{subjectEnrolment.RoleName}' options={options.SubjectEnrolmentRoles} 
                            variant='label-hidden' onchange={handleChange}></lightning-combobox>
                    </div>
                    <div class="slds-col slds-size_1-of-4 slds-p-around_small field">
                        <lightning-combobox name="StaffId" label="Staff" value='{subjectEnrolment.StaffId}' options={filteredFaculties.Data}
                            variant='label-hidden' onchange={handleChange}></lightning-combobox>
                        <template if:true={showPrerequisitesWarning}>
                            <lightning-icon class="icon" icon-name="utility:block_visitor" alternative-text="" size="x-small" variant="error"></lightning-icon>
                        </template>
                    </div>
                    <div class="slds-col slds-size_1-of-6 slds-p-around_small field">
                        <lightning-input type="number" name="AllocatedStudents" label="Allocated Students" value={subjectEnrolment.AllocatedStudents} 
                            variant='label-hidden' class="half" onchange={handleChange} min=0></lightning-input>
                            / {maxCapacity}
                        <template if:true={showOverflowWarning}>
                            <lightning-icon class="icon" icon-name="utility:warning" alternative-text="" size="x-small" variant="error"></lightning-icon>
                        </template>
                    </div>
                    <div class="slds-col slds-size_1-of-4 slds-p-around_small field">
                        <lightning-combobox name="Status" label="Status" value='{subjectEnrolment.Status}' options={options.SubjectEnrolmentStatuses} 
                            variant='label-hidden' onchange={handleChange} class="pointer"></lightning-combobox>
                    </div>
                    <div class="slds-col slds-size_1-of-12 slds-p-around_small">
                        <template if:true={showRemoveButton}>
                            <lightning-button-menu alternative-text="Action menu">
                                <lightning-menu-item label="Remove" value='{subjectEnrolment.SubjectEnrolmentId}' onclick={handleRemoveButtonClick} ></lightning-menu-item>
                            </lightning-button-menu>
                        </template>
                    </div>
                </template>
            </template>
        </template>
    </div>
</template>