.THIS {
}
/* This uses the colour #f4f6f9 (light grey) in every 2nd row starting at row 1 and then 3, 5, 7 ... and so on */
.THIS .data-row:nth-of-type(2n+1) {
    background-color:#f4f6f9;
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}