.THIS form,
.THIS label,
.THIS p,
.THIS .new-case-number 
{
    font-size: 14px;
}

.THIS form
{
    padding: 1rem 2rem;
}

.THIS .new-case-number span
{
    color: token(spThemeColor);
    font-size: 18px;
}

.THIS .button-area
{
    float: right;
    margin-bottom: 2rem;
}

.THIS ul li lightning-icon
{
    cursor: pointer;
}

.THIS .upload-area p
{
    font-size: 12px;
    margin: 8px 0;
}

.THIS .file-upload .slds-file-selector.slds-file-selector_files,
.THIS .file-upload .slds-file-selector__dropzone,
.THIS .file-upload .slds-file-selector__dropzone > slot
{
    width: 100%;
}

.THIS .upload-area lightning-icon
{
    cursor: pointer;
}

.THIS .slds-textarea
{
    min-height: 200px;
}

.THIS .slds-form-element__label
{
    font-size: 14px;
}

.THIS tr:hover
{
    border-color: unset;
    background-color: unset;
}

.THIS .disabled
{
    pointer-events: none;
}

.THIS .spinner
{
    top: 250px;
}