<template>
    <div class="calc-wrapper">
        <lightning-card title="Time to Study Calculator" icon-name="standard:note">
            <div class="slds-card__body slds-card__body_inner">
                <template if:false={loaded}>
                    <lightning-spinner alternative-text="Loading"></lightning-spinner>
                </template>
                <template if:true={noValues}>
                    <div>
                        <h2>Prospect provided no values for calculator</h2>
                    </div>
                </template>
                <template if:false={noValues}>
                    <div>
                        <iframe src={iframeUrl} width="770px" height="670px"></iframe>
                    </div>
                </template>
            </div>
        </lightning-card>
    </div>
</template>