<template>
    <template if:true={loading}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <template if:true={subjectOfferings}>
        <template for:each={subjectOfferings} for:item="subjectOffering">
            <c-terms-staff-plan-subject-details key={subjectOffering.SubjectOfferingId} subject-offering={subjectOffering} options={options}></c-terms-staff-plan-subject-details>
        </template>
    </template>
</template>