nav.THIS
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.THIS .slds-text-title_caps
{
    text-transform: none;
}

.THIS .slds-breadcrumb__item:before
{
    content: "/";
}

.THIS .slds-breadcrumb__item:first-child:before
{
    content: "";
}

.THIS .slds-breadcrumb__item > a
{
    color: #313136;
}

.THIS .capitalize
{
    text-transform: lowercase;
    display: inline-block;
    text-transform: capitalize
}

.THIS .capitalize:first-letter
{
    text-transform: uppercase;
}

/* ipad */
@media only screen and (max-width: 768px)
{
    .THIS .slds-breadcrumb__item > a
    {
        font-size: 13px;
    }
}