<template>
    <template if:true={loading}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>

    <lightning-card title="Term details plan">
        <template if:true={toDisable}>
            <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                <h2>
                    Unfortunately you won't be able to kick off term planning because at least one of the subjects to plan have no value entered for either Students per OLF, Students per Subject Coordinator or Student Coordinated per Subject Coordinator
                </h2>
            </div>
        </template>
        <lightning-layout horizontal-align="space">
                <lightning-layout-item padding="around-small" flexibility="grow" size=10>
                    <p class="slds-text-body_regular slds-p-around_small">
                        The planning of this term has not yet started. To kick off the process for the subjects listed below, click the Kick-off Planning button.
                    </p>
                    <p class="slds-text-body_regular slds-p-around_small">
                        This process will email the relevant Head of Departments to confirm the preferred set of Online Facilitators to engage with in this term. 
                        It will also create a baseline of classes based on current enrolments that can be further tailed as required 
                    </p>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small" flexibility="grow" size=2>
                    <lightning-button title="Kickoff Planning" label="Kickoff Planning" class="slds-p-around_small" onclick={handleButtonClick} disabled={toDisable}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
    </lightning-card>

    <lightning-card title="Subjects to Plan">
        <div class="slds-m-around_medium">
            <template if:true={subjects}>
                <lightning-datatable
                    key-field="Id"
                    data={subjects}
                    columns={columns}
                    onrowaction={handleRowAction}
                    hide-checkbox-column="true">
                </lightning-datatable>
            </template>
        </div>
    </lightning-card>
</template>