.THIS .contentPanel:before,
.THIS .contentPanel:after 
{
    content: " ";
    display: table;
}

.THIS .contentPanel:after 
{
    clear: both;
}

.THIS .middleRow
{   
    max-width: 1230px;
    margin: auto;
}

@media only screen and (max-width: 1260px)
{
    .THIS .middleRow
    {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .THIS .middleRow
    {
        margin-left: 17px;
        margin-right: 18px;
    }  
}


/* Header Section */

.THIS .bodyContent header.forceHighlightsPanel.forceCommunityRecordHeadline
{
    z-index: 1;
    margin-top: 20px;
}

.THIS .bodyContent header .forceRecordLayout ul.slds-form.slds-form_stacked.slds-grid.slds-page-header__detail-row
{
    display: none!important;
}

.THIS .bodyContent header .forceRecordLayout
{
    padding: 0px!important;    
}


.THIS .bodyContent header .forceRecordLayout div.slds-grid.primaryFieldRow
{
    border-bottom: 2px solid #313136;
    padding-bottom: 20px;
}

.THIS .bodyContent div header div div div div.profilePicWrapper.slds-media.slds-no-space,
.THIS .bodyContent header div div div div.slds-media__body h1 nav.entityNameTitle,
.THIS .bodyContent header ul li span.uiImage img.smallSocialPhoto.circular,
.THIS .bodyContent header ul li div.ownerName + button,
.THIS .bodyContent header ul li:last-child div
{
    display: none;
}

.THIS .bodyContent header div h1 div span.uiOutputText
{
    font-size: 32px;
}

.THIS .bodyContent header .forceHighlightsStencilDesktop .fade-text:after
{
    content: "";
    background: transparent;    
}

.THIS .bodyContent header div.slds-grid.forceActionsContainer span button
{
    min-width: 142px;
    font-size: 16px;
    text-transform: uppercase;
    min-height: 45px;
    background-color: #D33039;
    color: #fff;
    border: none;
}

/* Primary Content Section */

.THIS .forceCommunityRecordHomeTabs
{
    display: flex;
    flex-direction: column;
}

.THIS .recordHomePrimaryContent,
.THIS .recordHomeSecondaryContent
{
    width: 100%;
}

.THIS .bodyContent h3.slds-section__title.test-id__section-header-container
{
    display: none;
}

.THIS .bodyContent .forceCommunityRecordDetail .forceDetailPanelDesktop
{
    padding: 1rem 0;
}

.THIS .bodyContent .recordHomePrimaryContent .forceDetailPanelDesktop div.slds-form-element.slds-form-element_readonly.slds-grow.slds-hint-parent.override--slds-form-element
{
    display: inherit;
}

.THIS .bodyContent .recordHomePrimaryContent .forceDetailPanelDesktop div.test-id__field-label-container.slds-form-element__label
{
    flex-basis: 30%;
}

.THIS .bodyContent .recordHomePrimaryContent .forceDetailPanelDesktop div.slds-form-element__control.slds-grid.itemBody
{
    flex-basis: 60%;
}

.THIS .bodyContent .recordHomePrimaryContent .forceRecordLayout .section__content div.slds-form.slds-form_stacked 
div.slds-grid.slds-gutters_small.full.cols-1.forcePageBlockSectionRow:last-child
div.slds-form-element.slds-form-element_readonly.slds-grow.slds-hint-parent.override--slds-form-element
{
    display: flex;
    flex-direction: column;
}

.THIS .bodyContent .recordHomePrimaryContent .forceRecordLayout .section__content div.slds-form.slds-form_stacked 
div.slds-grid.slds-gutters_small.full.cols-1.forcePageBlockSectionRow:last-child
{
    margin-top: 15px;
    border-top: 2px solid #313136;
    padding-top: 20px;
}

.THIS .bodyContent .recordHomePrimaryContent .forceRecordLayout .section__content div.slds-form.slds-form_stacked 
div.slds-grid.slds-gutters_small.full.cols-1.forcePageBlockSectionRow:last-child .slds-form-element__label
{
    margin-bottom: 15px;
}

.THIS .bodyContent .recordHomePrimaryContent .forceRecordLayout .section__content div.slds-form.slds-form_stacked 
div.slds-grid.slds-gutters_small.full.cols-1.forcePageBlockSectionRow:last-child span.test-id__field-label
{
    font-size: 20px;
    color: #313136;
    font-family: "DIN Next W01 Bold";    
}

.THIS .bodyContent .recordHomePrimaryContent span.uiImage
{
    display: none;
}

.THIS .bodyContent .recordHomePrimaryContent .forceRecordLayout .section__content div.slds-form.slds-form_stacked 
div.slds-grid.slds-gutters_small.full.cols-2.forcePageBlockSectionRow:nth-child(3),
.THIS .bodyContent .recordHomePrimaryContent .forceRecordLayout .section__content div.slds-form.slds-form_stacked 
div.slds-grid.slds-gutters_small.full.cols-2.forcePageBlockSectionRow:nth-child(4)
{
    display: none;
}

.THIS .bodyContent .recordHomePrimaryContent .slds-form-element_readonly
{
    border: none;
    margin-bottom: 15px;
}

.THIS .bodyContent .recordHomePrimaryContent span.test-id__field-label,
.THIS .bodyContent .recordHomePrimaryContent span.test-id__field-value.slds-form-element__static.slds-grow.is-read-only
{
    font-size: 16px;
}

.THIS .bodyContent .recordHomePrimaryContent div.test-id__record-layout-container.riseTransitionEnabled
{
    border-bottom: 2px solid #313136;
}

.THIS .slds-button_neutral, .THIS .slds-button--neutral
{
    border: none;
    border-color: transparent;
}

/* Secondary Content Section */

.THIS .bodyContent .recordHomeSecondaryContent article.slds-card
{
    border: none;
}

.THIS .bodyContent .recordHomeSecondaryContent article.slds-card header
{
    margin-bottom: 20px;
    margin-top: 10px;
}

.THIS .bodyContent .recordHomeSecondaryContent article.slds-card header h2 a span
{
    font-size: 24px;
}

.THIS .bodyContent .recordHomeSecondaryContent article.slds-card table thead th
{
    border: none;
    color: #313136;
    font-family: "DIN Next W01 Bold";
    text-transform: capitalize;
    font-size: 16px;
}

.THIS .bodyContent .recordHomeSecondaryContent article.slds-card table:not(.forceRecordLayout) thead tr th:nth-child(2),
.THIS .bodyContent .recordHomeSecondaryContent article.slds-card table:not(.forceRecordLayout) tbody tr td:nth-child(5)
{
    display: none;
}

.THIS .bodyContent .recordHomeSecondaryContent article.slds-card table:not(.forceRecordLayout) thead tr th:nth-child(1),
.THIS .bodyContent .recordHomeSecondaryContent article.slds-card table:not(.forceRecordLayout) thead tr th:nth-child(3)
{
    width: 15%;
}

.THIS .bodyContent .recordHomeSecondaryContent article.slds-card table:not(.forceRecordLayout) tbody tr th
{
    padding: 15px;
}

.THIS .bodyContent .recordHomeSecondaryContent article.slds-card table tbody tr th,
.THIS .bodyContent .recordHomeSecondaryContent article.slds-card table tbody tr td
{
    font-size: 16px;
    border-bottom-color: #eee;
}


.THIS .bodyContent .recordHomeSecondaryContent ul li.slds-button.slds-button--neutral.slds-truncate
{
    border-radius: 0;
    min-width: 106px;
    background-color: #D33039;    
    font-size: 16px;
    border: none;
}

.THIS .bodyContent .recordHomeSecondaryContent ul li.slds-button.slds-button--neutral.slds-truncate a
{
    color: #fff;
}

.THIS .bodyContent .recordHomeSecondaryContent div.filerow span.itemTitle,
.THIS .bodyContent .recordHomeSecondaryContent div.filerow p.secondaryFields
{
    font-size: 16px;
}

.THIS .bodyContent .recordHomeSecondaryContent div.filerow span.itemTitle
{
    color: #313136;
}

.THIS .bodyContent .recordHomeSecondaryContent .forceRelatedListContainer .forceRelatedListSingleContainer
{
    margin-bottom: 20px;    
}

.THIS .bodyContent .recordHomeSecondaryContent .forceRelatedListContainer .forceRelatedListSingleContainer:first-child
{
    border-bottom: 2px solid #313136;
}

.THIS .bodyContent .recordHomeSecondaryContent  span.view-all-label
{
    font-size: 18px;
}

.THIS .bodyContent .recordHomeSecondaryContent span.slds-file-selector__button.slds-button.slds-button_neutral
{
    background-color: #D33039;
    border-radius: 0;
    color: #fff;
}

@media only screen and (max-width: 768px)
{
    .THIS .profilePicWrapper
    {
        display: none;
    }
    
    .THIS .forceHighlightsStencil .fieldWrapper
    {
        max-width: 100%;
    }
    
    .THIS .forceHighlightsStencil .fieldWrapper h1.primaryField 
    {
        font-size: 21px;
    }
    
    .THIS .forceHighlightsStencil .fieldWrapper h2.secondaryFields
    {
        margin-top: 16px;
    }
    
    .THIS .recordHomePrimaryContent ul li a span.title
    {
        font-size: 16px;
        text-transform: capitalize;
    }
    
    .THIS .recordHomePrimaryContent div.slds-form.slds-form_stacked div.slds-col.slds-grid.slds-has-flexi-truncate.full.forcePageBlockItem.forcePageBlockItemView
    {
        padding: 0.75rem 0 0 0;
        border: none;
    }
    
    .THIS div.slds-form-element.slds-form-element_readonly.slds-grow.slds-hint-parent.override--slds-form-element
    {
        display: inherit;
        margin-bottom: 0px;
    }
    
     .THIS div.test-id__field-label-container.slds-form-element__label   
    {
        min-width: 123px;
    }
    
    .THIS .bodyContent .recordHomePrimaryContent span.test-id__field-label,
    .THIS .bodyContent .recordHomePrimaryContent span.test-id__field-value.slds-form-element__static.slds-grow.is-read-only
    {
        font-size: 14px;
    }
    
    .THIS .bodyContent .recordHomePrimaryContent .forceRecordLayout .section__content div.slds-form.slds-form_stacked 
    div.slds-grid.slds-gutters_small.full.cols-1.forcePageBlockSectionRow:last-child
    {
        border-top: 1px solid #eee;
        padding-top: 10px;
    }
    
    .THIS .bodyContent .recordHomePrimaryContent div.test-id__record-layout-container.riseTransitionEnabled
    {
        border-bottom: none;
    }
    
    .THIS .forceDetailPanelMobile.slds-card
    {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
    .THIS span.uiOutputTextArea
    {
        font-size: 15px;
    }
    
    .THIS .forceRelatedCardContainer .container 
    {
        padding-bottom: 0px;
    }
    
    .THIS .forceRelatedCardContainer .container .forceCard
    {
        text-decoration: none;
        border: none;
        margin: 0;
        border-bottom: 1px solid #eee;
        margin-top: 15px;
    }
    
    .THIS article div header div.slds-media__figure
    {
        display: none;
    }
    
    .THIS article:nth-child(1) div header div.slds-media__body:before,
    .THIS article:nth-child(2) div header div.slds-media__body:before
    {
        font-family: 'Font Awesome 5 Free';
        margin-right: 15px;        
    }
    
    .THIS article:nth-child(1) div header div.slds-media__body:before
    {
        content: '\f075';
    }
    
    .THIS article:nth-child(2) div header div.slds-media__body:before
    {        
        content: '\f0c5';
    }
    
    .THIS article:nth-child(1) div header div.slds-media__body:after,
    .THIS article:nth-child(2) div header div.slds-media__body:after
    {
        font-family: "icomoon";
        content: "\e914";
        font-size: 1.5rem;
        color: #313136;
        position: absolute;
        right: 0;
        margin-top: -5px;
    }
}