.local-search.THIS
{
    padding: 25px;
    margin-bottom: 30px;
}

.local-search.THIS,
.THIS .search-info,
.THIS .search-title
{
    background-color: #EEEEEE;
}

.THIS .slds-input-has-icon .slds-input-has-icon--right,
.THIS .search-span,
.THIS .search-input span .slds-input
{
    max-height: 45px;
}

.THIS .search-input .slds-input
{
    background-color: #fff;
    font-size: 16px;
}

.THIS .search-input #searchInput
{
    padding-left: 3rem;
}

.THIS input.slds-input
{
    padding-left: 0;
    height: 42px;
}

.THIS input.slds-input:focus,
.THIS input.slds-input:active
{
    border: none;
    background-color: #fff;
    box-shadow: none;
}

.THIS .searchButton
{
    width: 54px;
    height: 34px;
}

.THIS .slds-form-element__control .slds-grow
{
    padding-top: 2px;
}

.THIS .search-info,
.THIS .search-title
{
    margin-bottom: 20px;
}

.THIS .search-title h1
{
    font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 16px;
}

.THIS .search-info span
{
    margin-left: 10px;
    color: #313136;
}

.THIS input::placeholder
{
    font-size: 1em;
    font-style: normal;
}

.THIS .local-button
{
    display: block;
    list-style: none;
}

.THIS .search-input span
{
    display: -webkit-inline-box;
    width: 91%;
}

.THIS .search-input li a span
{
    display: block;
    margin: auto;
    text-align: center;
}

.THIS .search-input span .local-button
{
    width: 10%;
    background-color: #D33039;
    font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.THIS li.local-button a
{
    color: #fff;
    line-height: 2.1;
}

.THIS li.local-button a:hover
{
    text-decoration: none;
    background-color: rgb(172, 19, 27); 
}

.THIS li.local-button a span
{
    display: none;
}

.THIS li.local-button a:before
{
    content: 'SEARCH';
    margin: auto;
}

@media only screen and (max-width: 935px)
{
    .THIS li.local-button a
    {
        padding: 0;
    }

    .THIS li.local-button a:before
    {
        font-family: "Font Awesome 5 Free";
        content: "\f105";
        font-size: 20px;
        margin: auto;
    }
}

@media only screen and (max-width: 768px)
{       
    .THIS .searchButton 
    {    
        left: 15px;
        width: 15px;
        height: 36px;
    }
    
    .THIS .search-info span
    {
        font-size: 14px;
    }
    
    .THIS .slds-form-element__control .slds-grow
    {
        padding-top: 0px;
    }
    
    .THIS #searchInput input
    {
        max-height: 40px;
        font-size: 14px;
        margin-left: 10px;
    }
}