nav.THIS
{
    margin-top: 25px;
    text-align: right;    
}

.THIS ul li
{
    display: inline-block;
    vertical-align: middle;
    color: #313136;  
    padding: 10px 0px 10px;
    font-size: 18px;    
}

.THIS ul li a span
{
    font-family: 'DIN Next W01 Medium';
}

.THIS .slds-icon_container 
{
    display: inline-block;
    border-radius: .25rem;
    line-height: 1;
}

nav.THIS .navChild
{
    background: #fff;
}

nav.THIS .navSearch
{
    position: absolute;
    width: 61%;    
    z-index: 4;
    top: 140px;    
    left:0;
    padding: 60px 15px 90px;
    border-top: 2px solid #B9B9BA;    
    font-size: 0;
    margin-left: 18.5%;
}

nav.THIS .navChild.navSearch::before
{
    right:100%;
}

nav.THIS .navChild.navSearch::after
{
    left:100%;    
}

nav.THIS .navChild.navSearch::before,
nav.THIS .navChild.navSearch::after
{
    content: '';
    z-index: -1;
    position: absolute;
    top: -2px;
    width: 99999px;
    height: calc(100% + 2px);
    left: auto;
    border-top: 2px solid #B9B9BA;
    background: #fff;
    transition: initial;
}

.THIS .searchIcon 
{
    position: absolute;
    right: -3px;
    top: 45px;
    cursor: pointer;
    display: block;
    color: #313136;
    padding-right:15px;
}

.THIS .navSearch .searchLabel 
{    
    font-size: 1.7rem;
    font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-transform: uppercase;
    padding: 12px 0 20px;
    color: #313136;
    width: 100%;
    display:block;
    text-align:left;
}

.THIS .searchForm span
{  
    width:100%;
    color: #313136;
    margin: 5px 0;
    float:left;
    text-align:left;    
}

.THIS .navSearch:before,
.THIS .navSearch:after
{
    background-color: #fff;
}

.THIS .slds-button
{
    color:#d9d9da;
}

.THIS li.slds-dropdown__item a:hover,
.THIS li.slds-dropdown__item a:focus,
.THIS li.slds-dropdown__item a:hover span,
.THIS .slds-icon-text-default:hover
{
    color: token(spThemeColor);
    background-color: #fff;
}

.THIS li.slds-dropdown__item a:hover .slds-icon-text-default,
.THIS li a:hover .slds-icon-text-default
{
    fill: token(spThemeColor);
}

.THIS .slds-dropdown__item > a 
{
    color: #313136;
}

.THIS .slds-dropdown__item > a[aria-disabled="true"],
.THIS .slds-dropdown__item > a[aria-disabled="true"]:hover,
.THIS .slds-dropdown__item > a[aria-disabled="true"]:hover span.slds-truncate
{
    color: #999;
}

.THIS li a .slds-icon-text-default
{
    fill: #333;
}