.home-footer.THIS
{    
    background-color: #E6E6E6;
}

.THIS .home-footer-content
{
    background-color: #E6E6E6;
    max-width: 1230px;
    margin: auto;
    padding: 46px 0 50px 0;
    display: flex;
}

.THIS .text-content,
.THIS .heading,
.THIS .sub-text,
.THIS .learning-portal-link
{
    display: block;
}

.THIS .text-content
{
    margin-right: 15px;
}

.THIS span.heading
{
    font-family: 'DIN Next W01 Regular';
    color: #313136;
    font-size: 38px;
}

.THIS .sub-text
{
    font-size: 18px;
    margin: 20px 0px;
}

.THIS .learning-portal-link
{
    font-size: 16px;
}

.THIS .learning-portal-link a:after
{
    font-family: "Font Awesome 5 Free";
    content:  "\f35d" ;
    margin-left: 10px;
}

.THIS .img-content
{
    margin: 10px 20px; 
}

@media only screen and (max-width: 1260px)
{
    .THIS .home-footer-content
    {
        padding-left: 35px;
        padding-right: 35px;
    }
}

/* ipad */
@media only screen and (max-width: 768px)
{
    .THIS .text-content
    {
        margin-right: 0;
    }

}

/* any devices smaller than ipad */
@media only screen and (max-width: 700px)
{
    .THIS .home-footer-content
    {
        display: block;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;

    }
    
    .THIS span.heading
    {
        font-size: 28px;
    }
    
    .THIS span.sub-text
    {
        font-size: 16px;
        margin: 25px 0;
    }
    
    .THIS span.learning-portal-link
    {
        margin-bottom: 25px;
    }
}