.THIS .footerCopyright,
.THIS .text-item ul li,
.THIS .text-item ol li,
.THIS .text-item p
{
    font-family: "DIN Next W01 Regular",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 16px;
}

.THIS .footerMiddle,
.THIS .footerBottom
{
    max-width: 1230px;
}

.THIS .footerMiddle
{       
    padding-top: 75px;
    padding-bottom: 35px;
    margin-bottom: 25px!important;
    border-bottom: #59595C 1px solid;
}

.THIS .footerBottom
{
    padding-bottom: 75px;        
}

.THIS .medium-6
{
    width: 50%;
}

.THIS div.columns:first-child
{
    padding-left: 0;
    padding-right: 15px;
}

.THIS div.columns:last-child
{
    float:right;    
}

.THIS .footerMiddle .text-item a,
.THIS .footerBottom .text-item a
{    
    background-color: #313136;
    color: #fff;
}

.THIS .text-item
{
    text-align:left;
}

footer.THIS ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer.THIS ul li 
{
    display: inline;
    padding: 0;
}

.THIS #socialIcons ul li a
{
    color: #313136;
}

.THIS .icon-facebook,
.THIS .icon-twitter,
.THIS .icon-instagram,
.THIS .icon-youtube,
.THIS .icon-linkedin
{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1; 
}

.THIS .icon-facebook:before,
.THIS .icon-twitter:before,
.THIS .icon-instagram:before,
.THIS .icon-youtube:before,
.THIS .icon-linkedin:before
{
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50%;
    background: #D9D9DA no-repeat 40px 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.THIS .icon-facebook:before
{
    content: '\e912';
}

.THIS .icon-twitter:before
{
    content: '\e913';
}
.THIS .icon-instagram:before
{
    content: "\ea92";
}
.THIS .icon-youtube:before
{
    content: "\e90b";
}
.THIS .icon-linkedin:before
{
    content: "\e910";
}

.THIS .footerCopyright
{
    font-size: 10px;
    display: flex;
    justify-content: flex-end;    
    text-align: left;
    padding: 0 20px;        
}

.THIS .footerCopyright ul li
{
    padding-left: 16px;
}

.THIS .text-item ul li
{
    padding-right: 16px;    
}

.THIS #socialIcons ul
{
    display: flex;
    justify-content: flex-end;
    text-align: left;
    padding: 0 30px;    
    margin: 24px auto;
}

.THIS #socialIcons ul li
{
    margin-left: 10px;
}

.THIS #socialIcons ul li a:hover
{
     text-decoration: none;   
}

.THIS #socialIcons ul li a:hover span::before
{
    background: #fff no-repeat 40px 40px;
}

@media only screen and (max-width: 1260px)
{
    .THIS .row.footerBottom,    
    .THIS .row.footerMiddle
    {
        padding-left: 15px;
        padding-right: 15px;
    }        
}

/* any devices smaller than ipad */
@media only screen and (max-width: 700px)
{
    .THIS .footerMiddle
    {
        padding-top: 40px;     
        padding-bottom: 15px;
    }
    
    .THIS div.columns.medium-6
    {
        text-align: center;
        width: 100%;
        padding-left: 0;
    }
    
    .THIS .text-item
    {
        text-align: center;
    }
    
    .THIS .text-item p,
    .THIS .text-item a
    {
        font-size: 12px;
        font-family: "DIN Next W01 Light",Helvetica,Arial,"Lucida Grande",sans-serif;
        margin-bottom: 5px;
    }
  
    .THIS div#socialIcons
    {
        display: flex;
        justify-content: center;
        padding-top: 24px;
    }
    
    .THIS div#socialIcons ul li a span:before
    {
        width: 28px;
        height: 28px;
    }
    
    .THIS .row.footerBottom
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 27px;
    }
    
    .THIS .row.footerBottom .text-item ul li
    {
        font-size: 14px;
    }
    
    .THIS .row.footerBottom .text-item .footerCopyright
    {
        justify-content: center;        
        margin-top: 24px;
    }
    
    .THIS .row.footerBottom .text-item .footerCopyright ul li
    {
        font-size: 10px;        
    }
}