.THIS .contentPanel:before,
.THIS .contentPanel:after 
{
    content: " ";
    display: table;
}

.THIS .contentPanel:after 
{
    clear: both;
}

.THIS .middleRow
{   
    max-width: 1230px;
    margin: auto;
}

@media only screen and (max-width: 1260px)
{
    .THIS .middleRow
    {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .THIS .middleRow
    {
        margin-left: 17px;
        margin-right: 18px;
    }  
}


.THIS div.slds-col.slds-no-flex.slds-grid.slds-align-bottom
{
    display: none;
}

.THIS .bodyContent .forceRelatedListDesktop ul li
{
    border-radius: 0;
    background-color: #D33039;
}

.THIS .bodyContent .forceRelatedListDesktop ul li a
{
    min-width: 106px;
    color: #fff;
}


.THIS .bodyContent .forceRelatedListDesktop table thead tr th a
{
    text-transform: capitalize;
    color: #313136;
    font-size: 16px;
    font-family: "DIN Next W01 Bold";
}

.THIS .bodyContent .forceRelatedListDesktop table thead tr th button.slds-button.slds-button_icon-bare,
.THIS .bodyContent .forceRelatedListDesktop table tbody tr td:last-child,
.THIS .bodyContent .forceRelatedListDesktop table thead tr th:last-child
{
    display: none;
}

.THIS .bodyContent .forceCommunityRelatedList .forceListViewManager .forceListViewManagerHeader h1
{
    font-size: 24px;
}

@media only screen and (max-width: 768px)
{
    .THIS .forceRelatedList .listTitleContainer
    {
        padding: 1rem 0;
        border-bottom: 2px solid #313136;
        margin-bottom: 10px;
    }
    
    .THIS .forceRelatedList div.listTitleContainer.uiBlock div.bLeft
    {
        display: none;
    }
    
    .THIS .forceRelatedList .listTitle
    {
        font-size: 21px;
        padding-left: 0px;
    }
    
    .THIS .forceRelatedList .listTitle .sortLabel
    {
        margin: 10px 0px;
        font-family: "DIN Next W01 Regular";
    }
    
    .THIS .forceRelatedList div.listContent ul li div.body
    {
        padding: 14px 0px;
    }
    
    .THIS .forceCommunityActionsContainerMobile,
    .THIS .forceCommunityActionButtonMobile.uiButton
    {
        max-width: 70px;
    }
    
    .THIS .forceCommunityActionButtonMobile.uiButton span.slds-icon_container.slds-icon_container--circle.slds-button--brand 
    {
        display: none;
    }
    
    .THIS .forceCommunityRelatedList .forceCommunityActionsContainerMobile
    {
        right: 10px;
        position: absolute;
        margin-top: 16px;
    }
    
    .THIS .forceCommunityRelatedList .forceCommunityActionButtonMobile.uiButton
    {
        max-width: 70px;
        background-color: #D33039;
    }
    
    .THIS .forceCommunityRelatedList .forceCommunityActionButtonMobile.uiButton span.labelSpan
    {
        color: #fff;
        margin: 9px 20px;
        text-transform: uppercase;  
        font-size: 13px;
    }
        
    .THIS .forceRelatedList .listContent ul li div.body a.listItem h3.itemTitle span.uiOutputText.forceOutputLookup
    {
        color: #D33039;
        text-decoration: underline;
    }
    
    .THIS .forceRelatedList .listContent ul li div.body a.listItem ul li
    {
        font-size: 14px;
        min-height: 25px;
    }
    
    .THIS .forceRelatedList .listContent ul li a div.filerow span.itemTitle,
    .THIS .forceRelatedList .listContent ul li a div.filerow p.secondaryFields
    {
        font-size: 14px;
    }   
}