.contentPanel.THIS
{
    margin-top: 13px;
    background-color: #03030f;
}

.rolloverBackground.THIS
{
    margin-top: 13px;
    background-color: #fff;
    margin-bottom: 80px;
}

.THIS .landingWrapper
{
    position: relative;
    max-width: 1230px;
    margin: auto;
}

.THIS .welcomeImage 
{
    min-height: 600px;
    background-size: cover;
}

.THIS .welcomeMessage
{
    background-image: linear-gradient(to right, #B11E49, #D33039);
    color: #fff;
    width: 488px;
    height: 277px;
    position: absolute;
    left: 0;
    top: 110px;
}

.THIS .welcomeMessage h1
{
    font-family: 'DIN Next W01 Regular',Helvetica,Arial,'Lucida Grande',sans-serif;
    font-size: 44px;
    position: relative;
    top: 24px;
    left: 35px;
    width: 300px;
    line-height: 1.25em;
}

.THIS .welcomeText
{
    font-family: 'DIN Next W01 Regular',Helvetica,Arial,'Lucida Grande',sans-serif;
    max-width: 418px;
    font-size: 18px;
    margin: 35px;
}

.THIS .welcomeText a
{
    color: #fff;
    text-decoration: underline;
}

.THIS .contentArea
{
    padding-left: 10%!important;
    padding-right: 10%!important;
}

.THIS .rolloverImage
{
    min-height: 542px;
    background-size: cover;
    background-position: bottom;
}

.THIS .rolloverMessage
{
    min-height: 542px;
    max-width: 511px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #E6E6E6;
    opacity: 0.9;
}

.THIS .rolloverMessage h1
{
    font-family: "DIN Next W01 Regular";
    font-size: 37px;
    padding-top: 44px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.THIS .rolloverMessage p
{
    font-size: 18px;
    padding: 20px 50px;
}

.THIS .rollover-sub-heading
{
    font-size: 24px;
    padding: 0 50px 20px;
}

.THIS .rollover-text
{
    font-size: 18px;
    padding: 0 50px;
}

.THIS .rolloverEmail
{
    margin: 20px 0 20px 50px;
    display: block;
}

.THIS .rolloverEmail a
{
    text-decoration: none;
}

.THIS .rolloverEmail a span
{
    display: inline-block;
    text-align: center;
    min-width: 275px;
    height: 45px;
    color: #fff;
    padding: 13px 20px;
    background: #D33039;
}

.THIS .supportTel
{
    text-decoration: none;
    color: #313136;
    font-weight: bold;
}

@media only screen and (max-width: 1260px)
{
    .THIS .welcomeMessage
    {
        margin-left: 35px;
    }

    .THIS .welcomeImage
    {
        background-position: 50% 50%;
        min-height: 700px;
    }
}

/* ipad */
@media only screen and (max-width: 768px)
{
    .THIS .landingWrapper
    {
        display: flex;
        flex-direction: column;
    }

    .THIS .welcomeMessage,
    .THIS .welcomeImage
    {
        position: relative;
    }

    .THIS .welcomeImage
    {
        min-height: 273px;
    }

    .THIS .welcomeMessage
    {
        top: 0;
        width: 100%;
        margin-left: 0px;
        background-position: 84% 50%;
        padding-top: 15px;
    }

    .THIS .rolloverImage
    {
        min-height: 342px;
        background-size: cover;
        background-position: 0 70%;    
    }

    .THIS .rolloverMessage
    {
        min-height: 342px;
        max-width: 100%;
        position: relative;        
        background-color: #FFF;
        opacity: 1;
    }

    .rolloverBackground.THIS
    {
        margin-bottom: 50px;
    }

    .THIS .rolloverEmail
    {
        margin: 15px 50px 40px;
    }
}

/* any devices smaller than ipad */
@media only screen and (max-width: 700px)
{
    .THIS .landingWrapper
    {
        display: flex;
        flex-direction: column;
    }
    
    .THIS .welcomeMessage
    {
        position: relative;
        top: 0;
        margin: 0;
    }
    
    .THIS .welcomeMessage h1
    {
        font-size: 35px;
        font-family: 'DIN Next W01 Light',Helvetica,Arial,"Lucida Grande",sans-serif;
        top: 35px;
        left: 22px;
        width: 250px;
    }
    
    .THIS .welcomeText
    {
        margin: 45px 22px 0px;
    }
    
    .THIS .welcomeImage
    {
        min-height: 273px;
         position: relative;
        background-position: 85% 50%;
    }
    
    .THIS .rolloverImage
    {
        min-height: 148px;
        background-size: cover;
    }
    
    .THIS .rolloverMessage
    {
        min-height: 242px;
        max-width: 100%;
        position: relative;
        background-color: #FFF;
        opacity: 1;
    }
    
    .THIS .rolloverMessage h1
    {
        font-size: 30px;
        padding-left: 22px;
        padding-right: 22px;
    }
    
    .THIS .rolloverMessage p
    {
        font-size: 16px;
        padding-left: 22px;
        padding-right: 130px;
    }
    
    .THIS .rollover-sub-heading
    {
        font-size: 22px;
        padding-left: 22px;
    }
    
    .THIS .rollover-text
    {
        font-size: 16px;
        padding: 0 22px;
    }
    
    .THIS .rolloverEmail
    {
        margin-left: 22px;
    }    
    
    .THIS .supportTel
    {
        text-decoration: underline;
        color: token(spThemeColor);
        font-weight: normal;
    }
}