.THIS .searchButton 
{
    left: 0;
    top: 0;
    width: 74px;
    height: 64px;
    z-index: 1;
    color: #313136 !important; 
    margin-top: 5px;
}

.THIS .searchButton .ligthning-primitive-icon
{
    padding-right: 20px;
}

.THIS .searchInput,
.THIS .slds-lookup__search-input
{
    width: 100%;
    font-size: 1.2rem;
    background: #F4F4F4;   
    padding-left: 80px;
    font-family: "DIN Next W01 Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: #F4F4F4;
    color: #333;
    height: 64px;
}

.THIS .slds-lookup__search-input .slds-grow
{
    padding-top: 15px;
    border: none;
}

.THIS .slds-input,
.THIS .slds-input:focus,
.THIS .slds-input:active
{
    border: none;
    background-color: #f4f4f4;
    box-shadow: none;
}

.THIS .slds-input span,
.THIS .slds-input label
{
    display: none;
}

.THIS input::placeholder
{
    font-size: 1.2em;
    font-style: italic;
}

.THIS input.slds-input:focus
{
    background-color: #f4f4f4;
}

.THIS ::selection
{
    background: rgb(255,255,255);
}

.THIS .local-button
{
    display: none;
}

/* ipad and smaller devices */
@media only screen and (max-width: 768px)
{
    .THIS .searchButton 
    {    
        left: 15px;        
        width: 15px;
        height: 36px;        
    }
    
    .THIS .searchButton svg
    {
        width: 1.2rem;
    }
    
    .THIS .searchButton svg use
    {
        color: grey;
    }
    
    .THIS .searchInput,
    .THIS .slds-lookup__search-input
    {
        padding-left: 0;
        height: auto;
        color: #313136;
        font-size: 14px;
        font-family: "DIN Next W01 Regular", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    
    .THIS .slds-lookup__search-input .slds-grow
    {
        padding-top: 0;
        border: none;
    }
    
    .THIS .slds-input
    {
        border-radius: 0!important;
        line-height: 3.0rem;
    }
    
    .THIS #searchInput input
    {
        max-height: 40px;
        font-size: 14px;
        margin-left: 10px;
    }
}