<template>
    <template if:true={loading}>
        <lightning-spinner alternative-text="Loading" class="spinner"></lightning-spinner>
    </template>
    <div class="content slds-align_absolute-center">
        <template if:true={resetEnabled}>
            <template if:false={resetSuccess}>
                <div>Please confirm if you want to reset {contactName} SSO password? </div>
            </template>
            <template if:true={resetSuccess}>
                <div>Successfully queued {contactName} for SSO password reset</div>
            </template>
        </template>
        <template if:false={resetEnabled}>
            <lightning-icon class="slds-p-right_medium" icon-name="utility:error" alternative-text="Error" size="small" variant="error"></lightning-icon>
            <template if:false={errorMessage}>
                <div>Contact is not eligible for password reset.</div>
            </template>
            <template if:true={errorMessage}>
                <div class='error-msg slds-scrollable_y'>{errorMessage}</div>
            </template>
        </template>
    </div>
    <div class="slds-align_absolute-center">
        <template if:false={resetSuccess}>
            <lightning-button title="Reset" label="Reset" class="slds-p-around_small" onclick={handleConfirmButtonClick} disabled={disableResetButton}></lightning-button>
            <lightning-button title="Cancel" label="Cancel" class="slds-p-around_small" onclick={handleCancelButtonClick} disabled={disabled}></lightning-button>
        </template>
        <template if:true={resetSuccess}>
            <lightning-button title="Close" label="Close" class="slds-p-around_small" onclick={handleCancelButtonClick}></lightning-button>
        </template>
    </div>
</template>