.THIS .slds-tabs_default__link[tabindex="0"]:focus,
.THIS .slds-tabs_default__link[tabindex="1"]:focus,
.THIS .slds-tabs_default__link[tabindex="2"]:focus
{
    text-decoration: none;
}

.THIS .slds-tabs_default ul li a
{
    font-family: "DIN Next W01 Regular",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 18px;
}

.THIS .parent
{
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px lightgray;
    padding: 15px 0;
}

.THIS .child
{
    flex: 1 0 auto;
    margin: 5px;
}

.THIS .case-number,
.THIS .case-status
{
    flex-basis: 10%;
}

.THIS .case-subject,
.THIS .case-info
{
    flex-basis: 83%;
}

.THIS .case-info .slds-col
{
    padding-left: 0;
}

.THIS div.child.slds-grid
{
    display: block;
}

.THIS div.slds-col
{
    display: inline-block;
}

.THIS div.slds-col span
{
    color: gray;
}

.THIS .case-number span
{
    border: solid 1px  #999999;
    padding: 3px 2px 0;
}

.THIS span.new-status,
.THIS span.waiting-status,
.THIS span.in-progress-status,
.THIS span.with-contact-status,
.THIS span.closed-status
{
    padding: 0 5px 0 5px;
    color: #fff;
    font-weight: 600;
    font-size: 18px; 
    font-variant: all-petite-caps;
}

.THIS span.new-status
{
    background: #39B54A;
}

.THIS span.in-progress-status
{
    background: #1f76b4;
}

.THIS span.waiting-status
{
    background: #EB7400;
}

.THIS span.with-contact-status
{
    background: token(spThemeColor);
}

.THIS span.closed-status
{
    background: lightgrey;
}

.THIS .case-subject span
{
    font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 18px;
}

.THIS .case-subject span a
{
    color: #313136;
}

.THIS .case-subject span a:hover
{
    color: token(spThemeColor);
    text-decoration: none;
}

.THIS .case-subject span a:after
{
    font-family: "icomoon";
    content: "\e914";
    font-size: 1.5rem;    
    color: #313136;
    position: absolute;
    right: 0.9rem;
    margin-top: -6px;
}

.THIS .new-case
{
    Background-color: #D33039;
    color: #fff;
    font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
    width: 180px;    
    display: flex;    
    font-variant: all-petite-caps;    
    margin-left: 84.5%;
    font-size: 18px; 
    border-radius: 0;
}

.THIS .new-case:hover
{
    background-color: rgb(172, 19, 27); 
}

.THIS .new-case svg
{
    fill: #fff;
    margin-left: 0px;
}

.THIS .select-sortBy
{
    margin: 20px 0;
}

.THIS .select-sortBy label span,
.THIS .select-sortBy div:nth-child(2) select,
.THIS .select-sortBy div:nth-child(2) div:nth-child(1)
{
    font-size: 14px;   
    min-height: 38px;
}

.THIS .select-sortBy div:nth-child(2)
{
    display: inline-block;
    margin-left: 20px;
    width: 260px;
}

.THIS .select-sortBy div:nth-child(2) select
{
    border: none;
    background: #F4F4F4;
    border-radius: 0;
    min-width: 220px;
}

.THIS .select-sortBy div:nth-child(2) select option
{
    background-color: #fff;
}

.THIS .select-sortBy div:nth-child(2) div:nth-child(1):before,
.THIS .slds-select-container:before
{
    border-bottom: 0;
    font-family: "icomoon";
    content: "\e915";
    font-size: 1.5rem;
    top: calc(0.875rem - 10px);
    right: 1.5rem;
}

.THIS .select-sortBy div:nth-child(2) div:nth-child(1):after,
.THIS .slds-select-container:after
{
    border-top: 0;
}

@media only screen and (max-width: 1260px)
{
    .THIS .new-case
    {
        margin-left: 81.5%;
    }
}


/* ipad Pro */
@media only screen and (max-width: 1024px)
{
    .THIS .new-case
    {
        margin-right: 20px;
        margin-left: auto;
    }
}

/* ipad */
@media only screen and (max-width: 768px)
{
    .THIS .new-case
    {
        margin: auto;
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

    .THIS div.slds-col
    {
        display: block;
    }

    .THIS div.slds-col span
    {
        display: inline-block;
        min-width: 130px;
    }
}

/* All devices smaller than ipad */
@media only screen and (max-width: 700px)
{
    .THIS .slds-tabs_default ul li a
    {
        font-family: "DIN Next W01 Regular",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-size: 16px;
        width: 87px;
        white-space: initial;
        min-height: 60px;
        line-height: 1.5rem;
    }

    .THIS .slds-tabs_default__item
    {
        width: 95px;
    }

    .THIS div.slds-col span
    {
        min-width: 110px;
    }
    
    .THIS .case-number
    {
        order: 1;
        flex: 0;
    }
    
    .THIS .case-status
    {
        order: 2;
        flex: 2 2 13rem;
    }

    .THIS .case-subject
    {
        order: 3;
    }
    
    .THIS .case-info
    {
        order: 4;
    }
    
    .THIS .case-subject span 
    {
        font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-size: 16px;
    }
    
    .THIS .case-info
    {
        font-family: "DIN Next W01 Regular",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-size: 14px;
    }
}