.profile-wrapper.THIS
{
    margin-top: 30px;
    display: flex;
}

.THIS .profile-photo
{
    min-width: 184px;
}

.THIS .profile-photo img
{
    border-radius: 50%;
}

.THIS .profile-info
{
    padding-left: 1rem;
    width: 100%;
}

.THIS .profile-info h1
{
    font-size: 32px;
}

.THIS .profile-details
{
    display: flex;
    width: 100%;    
    margin-top: 20px;
}

.THIS .profile-names,
.THIS .profile-contact
{
    width: 50%;
}

.THIS .profile-names
{
    margin-right: 20px;
}

.THIS .profile-contact
{
    margin-left: 20px;
}

.THIS .slds-textarea
{
    border: none;
}

.THIS .slds-form__row
{
    border-top: solid 1px #E6E6E6;
    margin: 0px;
}

.THIS .slds-form__row:last-child
{
    border-bottom: solid 1px #E6E6E6;
}

.THIS .slds-form__item
{
    padding: 0px;
}

.THIS .slds-form-element.slds-form-element_horizontal
{
    margin-top: 0.7rem;
}

.THIS .slds-form-element__label
{
    font-size: 16px;
    color: rgb(112,112,112);
}

.THIS .slds-input,
.THIS .slds-textarea
{
    font-size: 16px;
    color: #313136;
}

.THIS .slds-avatar_large
{
    width: 7rem;
    height: 7rem;
    font-size: 3rem;
}

/* ipad and any devices smaller than ipad Pro */
@media only screen and (max-width: 1023px)
{ 
    .THIS .slds-avatar_large
    {
        width: 3rem;
        height: 3rem;
        font-size: 1.125rem;
    }
    
    .profile-wrapper.THIS
    {
        margin-top: 0px;
    }
    
    .profile-wrapper.THIS,
    .THIS .profile-details
    {
        display: block;
    }
    
    .THIS .profile-photo
    {
        float: right;
        text-align: right;
        min-width: 73px;
        margin-top: -25px;
    }

    .THIS .profile-photo img
    {
        width: 73px;
    }

    .THIS .profile-info
    {
        padding-left: 0px;
        padding-top: 20px;
    }

    .THIS .profile-info h1
    {
        font-size: 23px;
    }

    .THIS .profile-contact
    {
        margin-left: 0px;
        margin-right: 20px;
    }

    .THIS .profile-names,
    .THIS .profile-contact
    {
        width: 100%;
    }
}

/* any devices smaller than ipad */
@media only screen and (max-width: 767px)
{
    .THIS .slds-form-element.slds-form-element_horizontal
    {
        display: flex;
    }
    
    .THIS .slds-form-element__label
    {
        flex-basis: 40%;
        line-height: 2.375rem;
    }
}