<template>
    <template if:false={showDetails}>
        <c-terms-staff-plan-kick-off record-id={recordId} onkickoffsuccess={kickoffSuccessHandler}></c-terms-staff-plan-kick-off>
    </template>

    <template if:true={showDetails}>
        <c-terms-staff-plan-details record-id={recordId}></c-terms-staff-plan-details>
    </template>
</template>