.THIS .headerLogo 
{
    position: absolute;
    top: 0;
    left: 15px;
    display: block;
    width: 180px;
    height: 140px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFF;
}

.THIS .headerLogo a 
{
    padding: 14px 0;
}

.THIS .headerLogo a 
{
    display: inline-block;
    width: 100%;
}

.THIS a 
{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.THIS .headerLogo img 
{
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    border: 0;
}

.THIS .headerNav 
{
    width: auto;
}

.THIS .headerNav 
{
    display: flex;
    vertical-align: middle;
    color: #D9D9DA;
    justify-content: flex-end;
}

.THIS .portalName
{
    display: inherit;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 10px;
    position: absolute;
    left: 210px;
}

.THIS .currentUser
{
    float: right;
}

.THIS .headerNav ul
{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.THIS li.row-reverse a
{
    display: flex;
    flex-direction: row-reverse;
}

.THIS ul li.slds-dropdown__item.row-reverse.support-menu
{
    margin-left: 10px;
}

.THIS ul li.slds-dropdown__item.learning-portal a
{
    background-color: token(spThemeColor);
    color: #fff;
}

.THIS ul li.slds-dropdown__item.row-reverse.support-menu a
{
    flex-direction: row-reverse;
}

.THIS ul li a lightning-primitive-icon
{
    padding-right: 10px;
}

.THIS ul li a lightning-primitive-icon svg
{
    margin-left: 0px;
}

.THIS ul li a lightning-primitive-icon svg use
{
    fill: #f4f6f9
}

.THIS ul li a span.slds-truncate
{
    padding-top: 2px;
}

.THIS .icon-user
{    
    font-family: 'icomoon' !important;        
    line-height: 1;
    font-size: 15px;
    display: inline-block;
    padding: 0.6rem 0;
    margin-top: 3px;    
    border-radius: 50%;   
    display:none;
}

.THIS .icon-user:before
{
    content: "\e971";
}

.THIS .learning-portal a span:after
{
    font-family: "Font Awesome 5 Free";
    content: "\f35d" ;
    margin-left: 10px;
}

.THIS .icon-menu,
.THIS .toggle-menu
{
    display:none;
}

.THIS ul
{
    display: none;
}

nav.THIS
{
    display: none;
}

@media only screen and (max-width: 991px)
{
    .THIS .headerLogo
    {
        display: inline-block;
        vertical-align: middle;
        width: 59.9px;
        height: 63.39px;
    }
    
    .THIS .headerLogo a
    {
        padding: 10px 0;
    }
    
    .THIS .headerNav
    {
        margin-top: 30px;
        width: calc(100% - 80px);
        float: right;
        justify-content: space-between;
    }
    
    .THIS .portalName
    {
        display: inherit;
        margin: auto;
        font-size: 15px;
        color: #313136;        
        font-family: "DIN Next W01 Medium";
        position: relative;
        left: 0;
    }    
    
    .THIS .currentUser
    {
        margin-right: 20px;
    }
    
    .THIS ul li.slds-dropdown__item.profile-img
    {
        display: block;
    }
    
     .THIS ul li.slds-dropdown__item,
    .THIS ul li.slds-dropdown__item.profile-img a span
    {
        display: none;
    }
        
    .THIS .profile-img a
    {
        padding: 0px;
    }
    
    .THIS .icon-user
    {
        background-color: #313136;
        padding: 5px; 
        display: inline-block;
    }
        
    .THIS .toggle-menu
    {
        margin-left: 0px;
        line-height: 1;
        font-size: 20px;
        color: #313136;
        display: inline-block;
        vertical-align: middle;
        margin-top: 5px;
    }
    
    .THIS .icon-menu
    {
        font-family: 'icomoon' !important;        
        line-height: 1;
        display: inline-block;
    }
    
    .THIS .icon-menu:before
    {
        content: "\e91a";
    }
    
    .THIS .nav-open .icon-menu:before
    {
        content: "\e903";
    }
    
    .THIS div.columns
    {
        padding: 0;
    }
    
    nav.THIS.toggle-search,
    .THIS .overlay
    {
        display: block;
        position: absolute;
        top: 90px;
        width: 100%;
        z-index: 10;
        background-color: #fff;
        border-top: 3px solid black;
        padding-top: 5px;
    }
    
    nav.THIS.toggle-search ul
    {
        display: block;
    }
    
    .THIS div.searchForm
    {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    nav.THIS ul li
    {
        border-bottom: 1px solid #D9D9DA;
        line-height: 3.5rem;
        font-family: "DIN Next W01 Medium";
        color: #313136;
        padding-left: 25px;
        padding-right: 20px;
        font-size: 18px;
    }
    
    nav.THIS ul li:nth-last-child(1),
    nav.THIS ul li:nth-last-child(2),
    nav.THIS ul li:nth-last-child(3),
    nav.THIS ul li:nth-last-child(4)
    {
        color: #fff;
        background-color: #313136;
        border: none;
        font-family: "DIN Next W01 Regular"
    }
    
    nav.THIS ul li:last-child
    {
        padding-bottom: 20px;
    }
    
    nav.THIS ul li a:hover
    {
        color: token(spThemeColor);
    }

    .THIS .support-phone:before
    {
        font-family: "Font Awesome 5 Free";
        content: "\f2a0" ;
        margin-right: 10px;
    }
 
    .THIS .learning-portal a
    {
        background-color: #D33039;
        padding: 18px 88px;
    }
}