@font-face 
{
    font-family: "DIN Next W01 Light";
    src: url('/resource/DINNextW01Light');
}

@font-face 
{
    font-family: "DIN Next W01 Medium";
    src: url('/resource/DINNextW01Medium');
}

@font-face 
{
    font-family: "DIN Next W01 Regular";
    src: url('/resource/DINNextW01Regular');
}

@font-face
{
    font-family:"DIN Next W01 Bold";
    src: url('/resource/DINNextW01Bold');
}

@font-face 
{
    font-family: 'icomoon';    
    src: url('/resource/IconFont');
    font-weight: normal;
    font-style: normal
}

@font-face
{
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    src: url("/resource/FontAwesome/fontawesome/webfonts/fa-solid-900.eot");
    src: url("/resource/FontAwesome/fontawesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/resource/FontAwesome/fontawesome/webfonts/fa-solid-900.woff2") format("woff2"), url("/resource/FontAwesome/fontawesome/webfonts/fa-solid-900.woff") format("woff"), url("/resource/FontAwesome/fontawesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/resource/FontAwesome/fontawesome/webfonts/fa-solid-900.svg#fontawesome") format("svg"); 
}

.THIS h3
{
    font-size: 1.8rem;    
    font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: normal;
    margin: 24px auto;
}

.THIS h4
{
    font-size: 1.2rem;    
    font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: normal;
    color: token(spThemeColor);
}

.THIS body
{
    font-family: 'DIN Next W01 Regular',Helvetica,Arial,"Lucida Grande",sans-serif;
}

.THIS header.theme-header
{
    z-index: 10;
    position: absolute;
    top: 0;
    padding: 0;
    background-color: #313136;
    text-align: right;
    font-size: 1.6rem;
    width: 100%;
}

.THIS footer.theme-footer
{
    background-color: #313136;
    color: #fff;
}

.THIS .mainContent
{
    padding-top: .75rem;
}

.THIS div.mainContent .slds-col--padded
{
    padding: 0;
    
}
.THIS div.mainContent .siteforceContentArea .comm-layout-column:not(:empty)
{
    padding-bottom: 0;
}

.THIS #overlay,
.THIS #mobileOverlay
{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 140px; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.THIS .row 
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1230px;
}

.THIS .row:before,
.THIS .row:after 
{
    content: " ";
    display: table;
}

.THIS .row:after 
{
    clear: both;
}

.THIS .column,
.THIS .columns 
{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.THIS .small-12 
{
    width: 100%;
}

.THIS div.contentRow div.right div.ui-widget
{
    padding: 0.75rem 0;
}

.THIS div.topicStats 
{
    position: absolute;
    left: 58%;
    top: 640px;
}

.THIS .topicStats .table_wrapper .forceChatterTopicMetricsItem
{
    display: flex;
}

.THIS div.topicStats div.value
{
    order: 1; 
}

.THIS div.topicStats div.slds-text-body--small
{
    order: 2;
    line-height: 27px;
    width: 30%;    
}

.THIS button,
.THIS input,
.THIS textarea,
.THIS article
{
    border-radius: 0;
}

.THIS .c-container
{
    margin: 10px 0 20px 0;
}

.THIS .c-section
{
    padding: 1rem;
}

.THIS .templateHeader
{   
    z-index: 4;
}

.THIS .navMenu
{
    z-index: 5;
    max-width: 1230px;
    margin: auto;
    height: 140px;
    background: #fff;
    padding: 35px 0 5px;
    text-align: center;     
    padding-right: 20px;
    padding-left: 20px;
}

.THIS .navMenu .slds-card
{
    border:none;
}

.THIS .comm-content-header
{
    padding: 0!important;
    margin-top: -25px;
}

/* Override text color for lightning datatable headers and cells */
.THIS .slds-table thead th,
.THIS .slds-table tr th,
.THIS .slds-table tr td
{
    color: rgb(112, 112, 112);
}

/* Hide the action menu on lightning datatable header */
.THIS .slds-button_icon-bare
{
    display: none;
}

/* Set lightning datatable column to "Wrap Text" mode, the SF default is "Clip Text" mode */
.THIS .slds-truncate
{
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}

/* Remove the top and bottom padding of lightning card header section if a blank header is present */
.THIS .slds-card-no-header .slds-card__header
{
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 991px)
{
    .THIS .topicStats
    {
        display: none;
    }
    
    .THIS h3
    {
        font-size: 16px;
        font-family: "DIN Next W01 Regular",Helvetica,Arial,"Lucida Grande",sans-serif;
        margin: 0 0 15px 0;
    }
    
    .THIS header
    {
        z-index: 1;
        position: relative;       
        background-color: #FFF;
        padding-bottom: 15px;    
    }    
    
    .THIS header.theme-header
    {
        z-index: 1;
        position: relative;       
        background-color: #FFF;
        padding-bottom: 25px;    
        min-height: 93px;
    }    
    
    .THIS div.navMenu
    {
        display: none;
    }    
    
    .THIS .mainContent
    {
        padding-top: 0;
    }
    
    .THIS .footer-row
    {
        padding: 0 20px;
        background-color: #313136;
    }

    .THIS .overlay
    {
        display: block!important;
    }
}

/* any devices smaller than ipad */
@media only screen and (max-width: 700px)
{
    .THIS .footer-row
    {
        position: relative;
    }
}