.THIS .contentPanel:before,
.THIS .contentPanel:after 
{
    content: " ";
    display: table;
}

.THIS .contentPanel:after 
{
    clear: both;
}

.THIS .middleRow
{
    max-width: 1230px;
    margin: auto;
}

.THIS .askCommunityBtn
{
    text-transform: uppercase!important;
}

/* Search Results start */

.THIS .forceCommunitySearch
{
    margin-top: 40px;
}

.THIS .forceCommunitySearch .slds-border_right
{
    width: 300px;
    border-top: 2px solid #313136;
    border-right: none;
    margin-right: 30px;
    margin-top: 5px;
}

.THIS .forceCommunitySearch .slds-border_right h1.slds-nav-vertical__title
{
    font-size: 24px;
    font-family: "DIN Next W01 Regular";
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 1rem 0;
}

.THIS .forceCommunitySearch .scopesBlock
{
    font-size: 18px;
    font-family: "DIN Next W01 Regular";
}

.THIS .forceCommunitySearch .scopesBlock ul li.slds-is-active a
{
    font-weight: normal;
    color: #D33039;
    background-color: #f4f4f4;
}

.THIS .forceSearchResultsRegion .searchResultsGridHeader .leftContent h2 a.slds-page-header__title,
.THIS .forceSearchResultsRegion .searchResultsGridHeader .leftContent h2 div.gridTitle
{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.THIS .forceSearchResultsRegion .searchResultsGridHeader .leftContent .searchResultsSummaryText,
.THIS .forceSearchResultsRegion .searchResultsGridHeader .leftContent .searchResultsSummaryText .searchResultsSummary,
.THIS .forceSearchResultsRegion .searchResultsGridHeader .rightContent,
.THIS .forceSearchResultsRegion .listContent ul li a.itemTitle
{
    font-size: 16px;
    border: none;
}

.THIS .forceSearchResultsRegion .forceSearchSearchResultsGridHeader
{
    padding: 0;
}

.THIS .forceSearchResultsRegion .listContent ul li.forceRecordLayout
{     
    padding: 0;
    border-bottom: 1px solid #eee;
}

.THIS .forceSearchResultsList .slds-tile
{
    padding: 1rem 0;
}

.THIS .forceSearchResultsList .slds-tile > p,
.THIS .forceSearchResultsList .slds-tile > div
{
    margin: 5px 0;
}

.THIS .forceSearchResultsRegion .listContent ul li .slds-tile .slds-tile__detail,
.THIS .forceSearchResultsRegion .listContent ul li .slds-tile .resultBody
{
    font-size: 14px;
}

.THIS .forceSearchResultsRegion table.forceRecordLayout thead tr th,
.THIS .forceSearchResultsRegion table.forceRecordLayout tbody tr td
{
    padding-left: 0;
    font-size: 16px;
}

.THIS .forceSearchResultsRegion table.forceRecordLayout
{
    margin: 20px 0px;
}

.THIS .forceSearchResultsRegion table.forceRecordLayout thead tr th
{
    text-transform: capitalize;    
    font-weight: normal;
    font-family: "DIN Next W01 Bold";
}

.THIS .forceSearchResultsRegion table.forceRecordLayout tbody tr td
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.THIS .forceSearchResultsRegion .forceSearchResultsMultiScope .resultsItem
{
    margin-bottom: 20px;
}

.THIS .forceSearchResultsGridView.grid tbody td span
{
    color: #313136;
}

.THIS .forceSearchResultsGridView.grid tbody tr:hover td 
{
    background: none;
    box-shadow: none;
}

.THIS .resultsMultiWrapper:focus,
.THIS .forceSearchResultsRegion table.forceRecordLayout:focus,
.THIS .forceSearchResultsRegion .forceSearchResultsMultiScope .resultsItem:focus,
.THIS .forceSearchResultsGridView .searchScroller.uiScroller:focus,
.THIS .forceSearchResultsGridView .searchScroller.uiScroller .scroller:focus
{
    outline: none;
}

/* Search Results end */

/* New Case starts */

.THIS .bodyContent .slds-modal__container header h2
{
    font-size: 24px;
}

.THIS .bodyContent .slds-modal__container .slds-modal__content .slds-form-element__label
{
    font-size: 18px;
    color: #313136
}

.THIS .bodyContent .slds-modal__container .slds-modal__content .slds-input
{
    font-size: 16px;
}

.THIS .bodyContent .slds-modal__container .slds-modal__content .upload-area #form-label-31
{
    display: none;
}

.THIS .bodyContent .slds-modal__container .slds-modal__content .slds-file-selector__dropzone,
.THIS .bodyContent .slds-modal__container .slds-modal__content .slds-file-selector_files
{
    width: 100%;
    height: 100px;
}

.THIS .bodyContent .slds-modal__container .slds-modal__content .slds-file-selector__dropzone
{
    text-align: center;
    line-height: 100px;
}

.THIS .bodyContent .slds-modal__content #file-selector-label-31 span.slds-file-selector__button
{
    border-radius: 0;
    min-height: 30px;
    background: #D33039;
    color: #fff;
    font-size: 13px;
}

/* New Case ends */

@media only screen and (max-width: 1260px)
{
    .THIS .middleRow
    {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .THIS .middleRow
    {
        margin-left: 17px;
        margin-right: 18px;
    }
    
    .THIS .askCommunityBtn
    {
        width: auto!important;     
    }    
}

@media only screen and (max-width: 768px)
{
    .THIS .askCommunityBtn
    {
        width: 100%!important;
        margin-top: 77px!important;
    }
    
    /* New Case starts */
    
    .THIS #form-label-69
    {
        display: none;
    }
    
    /* New Case ends */
    
    /* Search Results start */
    
    .THIS .forceCommunitySearch .forceSearchScopesRibbon
    {
        margin-bottom: 20px;
    }
    
    .THIS .forceCommunitySearch .forceSearchScopesRibbon ul li a
    {
        font-size: 18px;
        text-transform: capitalize;
         font-family: "DIN Next W01 Regular";       
        box-shadow: none;
        line-height: 40px;
        margin-left: 0;
    }
    
    .THIS .forceCommunitySearch .forceSearchScopesRibbon .selected .ribbonItemLabel
    {
        border-bottom: 5px solid rgb(211, 48, 57);        
    }
    
    .THIS .forceSearchResultsCompact  .listContent ul li.forceRecordLayout
    {
        margin: 15px 0;
        padding-bottom: 15px;
    }
    
    .THIS .forceSearchResultsCompact .searchResultsGridHeader  .leftContent h2 a.slds-page-header__title
    {
        font-size: 23px;
    }
    
    .THIS .forceSearchResultsCompact .searchResultsGridHeader  .leftContent .searchResultsSummaryText
    {
        font-size: 14px;
        display: flex;
    }
    
    .THIS .forceSearchResultsCompact .forceRecordLayout .listContent ul li div.slds-tile > p,
    .THIS .forceSearchResultsCompact .forceRecordLayout .listContent ul li div.slds-tile > div
    {
        margin: 5px 0px;
    }
    
    .THIS .forceSearchResultsCompact .forceRecordLayout .listContent ul li ul.itemRows li .slds-item--label
    {
        font-family: "DIN Next W01 Bold";
        color: #313136;
    }
    
    .THIS .forceSearchResultsCompact .forceRecordLayout .listContent ul li ul.itemRows li .slds-item--label,
    .THIS .forceSearchResultsCompact .forceRecordLayout .listContent ul li ul.itemRows li .slds-item--detail
    {        
        font-size: 14px;
        min-width: 140px;
        color: #313136;
    }

    .THIS .forceListRecord .itemRows
    {
        color: #313136;
    }
    /* Search Results end */
}