div  {
    display: block;;
    color: white;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: -1px;
    word-spacing: -1px;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 5px;
}
div.student {
    background: #1F77B4;
}
div.prospect  {
    background: #D33039;
}
div.other {
    background: #808080;
}
span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}
span.prospect {
    vertical-align: middle;
    padding-top: 1px;
    height: 100%;
    line-height: 100%;
}