<template>
    <div class="student" if:true={isStudentRecordType}>
        <span><lightning-icon src={iconStudent} title="Student record representing a Student who has enrolled with AIB." class="icon" alternative-text="Indicates Student Record." size="small"></lightning-icon></span>
        <span>Student Record</span>
    </div>
    <div class="prospect" if:true={isProspectRecordType}>
        <span class="prospect"><lightning-icon src={iconProspect} title="Prospect record representing a Prospective Student." class="icon" alternative-text="Indicates Prospect Record." size="small"></lightning-icon></span>
        <span>Prospective Student</span>
    </div>
    <div class="other" if:true={isOtherRecordType}>
        <span><lightning-icon src={iconOther} title="Record representing a Contact that is neither Student or Prospect, i.e.: Faculty or some other type." class="icon" alternative-text="Indicates Other Record." size="small"></lightning-icon></span>
        <span>Other Contact Record Type ({recordTypeDevName})</span>
    </div>
</template>