.THIS
{
    margin-bottom: 40px;
}

.THIS .heading h1
{
    font-size: 26px;
    margin-bottom: 30px;    
    margin-top: -44px;
}

.THIS .capitalize
{
    text-transform: lowercase;
    display: inline-block;
    font-family: "DIN Next W01 Medium",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 18px;
    color: #313136;
    width: 100%;
}

.THIS .capitalize:first-letter
{
    text-transform: uppercase;
}

.THIS .record
{
    padding: 15px 0;
    border-top: solid 1px #eee;
    cursor: pointer;
}

.THIS .record a:after
{
    font-family: "icomoon";
    content: "\e914";
    font-size: 1.5rem;    
    color: #313136;
    position: absolute;
    margin-left: -0.5rem;
    margin-top: -6px;    
}

.THIS .child
{
    font-size: 14px;
    color: #313136;
    margin-top: 10px;
}

.THIS .parent a:hover span
{
    color: token(spThemeColor);
}

@media only screen and (max-width: 1024px)
{
    .THIS .record a:after
    {
        right: 1rem;
    }
}

@media only screen and (max-width: 700px)
{
    .THIS .heading h1
    {
        font-size: 23px;    
        margin-top: -90px;
        margin-bottom: 80px;
    }   
   
}